h3 a:hover {
  text-decoration: none;
}

.faceImage {
	margin-right: 40px;
	margin-top: 35px;
  margin-bottom: 30px;
}

.postHeadline {
 color: #b3b3b1;
}

.justify {
	text-align: justify;
}

.image {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.brand {
  font-family: 'Roboto Slab', serif;
}

.content-cv, .post p, .post li {
  color: #444;
  font-size: 18px;
  line-height: 1.7em;
}


  a:hover {
    text-decoration: none;
  }

  .intro {
    padding-top: 5px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .intro .text {
    padding-top: 35px;
  }

.mybtn {
  display: inline-block;
position: relative;
height: 40px;
padding: 0 20px;
border: 0;
font-size: 14px;
line-height: 41px;
text-align: center;
text-decoration: none;
font-style: normal;
cursor: pointer;
border-bottom: 1px solid rgba(0,0,0,0.1);
vertical-align: bottom;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
font-weight: 400;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #ebebeb;
color: #6e6e6e;
  -webkit-transition: all 0.25s ease-in;
-moz-transition: all 0.25s ease-in;
-ms-transition: all 0.25s ease-in;
-o-transition: all 0.25s ease-in;
transition: all 0.25s ease-in;
}

.mybtn:hover {
  -webkit-transition: all 0.25s ease-in;
-moz-transition: all 0.25s ease-in;
-ms-transition: all 0.25s ease-in;
-o-transition: all 0.25s ease-in;
transition: all 0.25s ease-in;
color: #fff;
  background-color: #307EA9;
}

.social .icon {
  font-size: 20px;
  padding-top: 10px !important;
  padding-right: 1px !important;
  padding-bottom: 10px !important;
  padding-left: 1px !important;
}

.social {
  margin-right: 100px !important;
}

/* Header
-------------------------------------------------- */

.banner {
  font-size: 13px;
  letter-spacing: 0.2em;
}

.brand {
  letter-spacing: 0em; 
  padding-left: 40px !important;
  font-size: 30px !important;
  color: #333 !important;
  font-weight: 200 !important;
  padding-bottom: 20px !important;
}

.brand b {
  /*font-weight: 400;*/
}

.banner .nav {
  text-transform: uppercase;
}

.banner .navbar-inner {
  padding-left: 150px;
  padding-top: 20px;
  margin-bottom: 30px;
  border: 0 none;
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.navbar .nav .activ a, .navbar .nav .activ a:focus {
  color: black;
  background: none; 
  -webkit-box-shadow: 0 1px rgba(0,0,0,0);
  -moz-box-shadow: 0 1px rgba(0,0,0,0);
  box-shadow: 0 1px rgba(0,0,0,0);
}

  .brand a, .postTitle a {
    color: #444;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }
  .brand a:hover, .postTitle a:hover {
    color: #307EA9;
  }

  a {
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }


.navbar .nav a, .navbar .nav a:focus {
  text-shadow: none;
  color: #444;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding-top: 50px;
  padding-bottom: 150px;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #333332;
}
.footer p {
  margin-bottom: 0;
  color: white;
}

.footer a {
  color: white;
  letter-spacing: 0.1em;
}

.top {
  color: #b3b3b1 !important;
}

.footer .title {
  font-weight: 700;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  margin: 20px 0 18px;
  color: #666665;
  padding-bottom: 15px;
  border-bottom: 1px solid #666665;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 20px;
}

.dl-horizontal dt {
  white-space: normal !important;
  width: 240px !important;
}

.dl-horizontal dd {
  margin-left: 260px;
}

pre.prettyprint {
  -webkit-border-image: none;
  background-color: rgb(230, 230, 230);
  border-color: rgb(121, 121, 121) !important;
  border-style: none !important;
  border-width: 0px !important;
  box-sizing: border-box;
  color: rgb(121, 121, 121);
  display: block;
  font-family: Inconsolata, 'Courier New', monospace;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 10px 0 10px 30px !important;
  position: relative;
  vertical-align: baseline;
  white-space: pre;
}

.prettyprint .str, .prettyprint .atv {
  color:#009f5d
}
.prettyprint .kwd, .prettyprint .tag {
  color:#06c
}
.prettyprint .com {
  color:#797979;
  font-style:italic
}
.prettyprint .lit {
  color:#7f0000
}
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
  color:#515151
}
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
  color:#d94d3a
}
.prettyprint .pln {
  color:#515151
}
