<div class="page-header">
	<h1>Education</h1>
</div>

<div class="row">
	<div class="span2 lead">2011 - 2014</div>
	<div class="span10">
		<span class="lead">ESPRIT</span><br>
		Engineer's Degree, Computer Software Engineering
	</div>
</div>

<br>

<div class="row">
	<div class="span2 lead">2005 - 2007</div>
	<div class="span10">
		<span class="lead">IPEIM Monastir</span><br>
		Preparatory Classes, Maths/Physics/Chemistry
	</div>
</div>

<br>

<div class="row">
	<div class="span2 lead">2005</div>
	<div class="span10">
		<span class="lead">Lycée Cité Des Jeunes, Gafsa</span><br>
		Baccalauréat Scientifique
	</div>
</div>

<br>

  </div>
