<table class="table table-bordered table-condensed">
        <head>
                <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Description</th>
                        <th>URL</th>
                </tr>
        </head>
        <body>
                <tr ng-repeat="repo in repos|filter:{'fork':false}|orderBy:'language'">
                        <td>{{repo.name}}</td>
                        <td>{{repo.language}}</td>
                        <td>{{repo.description}}</td>
                        <td>{{repo.html_url}}</td>

                </tr>
        </body>
</table>

