<h1>My Github Repos</h1>
<table class="table table-bordered table-condensed">
        <head>
                <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Description</th>
                </tr>
        </head>
        <body>
                <tr ng-repeat="repo in repos|filter:{'fork':false}|orderBy:'language'">
                        <td><a href={{repo.html_url}}>{{repo.name}}</a></td>
                        <td><span ng-class="{ 'label label-warning'   : repo.language === 'Java',
                          'label label-success' : repo.language === 'Python',
                          'label label-info'    : repo.language ==='JavaScript',
                           'label label-danger'    : repo.language ==='Shell'}">{{repo.language}}</span></td>
                        <td>{{repo.description}}</td>
                </tr>
        </body>
</table>

