<div class="hero-unit intro">
<img src="images/elmo05.png" width="60px" height="60px" class="pull-left faceImage img-circle"/>
<p class="text">Walid Saad is a Java/JEE developer, who loves coding in many languages.
He is a polymath, passionate about technology and open to new opportunities.</p>
</div>
<div class="justify">
<p class="lead">Follow Me</p>
<div class="row">
<div class="span1">
<a href="http://twitter.com/walidsa3d"><img class="well" width="60" height="60" src="assets/img/twitter.jpg" alt="Twitter"></a>
</div>
    <div class="span9" style="margin-left:60px">
        <p class="lead">My tweets, they're not professional at all</p>
        <p class="lead"><a href="http://twitter.com/walidsa3d">Twitter</a></p>
    </div>
</div>
<div class="row">
    <div class="span1">
        <a href="https://github.com/walidsa3d"><img class="well" src="assets/img/octocat.png" alt="Github"></a>
    </div>
    <div class="span9" style="margin-left:60px">
        <p class="lead">My projects, code snippets and open source contributions</p>
        <p class="lead"><a href="https://github.com/walidsa3d">Github</a></p>
    </div>
</div>
<div class="row">
    <div class="span1">
        <a href="http://linkedin.com/in/walidsa3d"><img class="well" src="assets/img/linkedin.jpg" alt="Lanyrd"></a>
    </div>
    <div class="span9" style="margin-left:60px">
        <p class="lead">My not-so-developed LinkedIn profile</p>
        <p class="lead"><a href="http://linkedin.com/in/walidsa3d">LinkedIn</a></p>
    </div>
</div>


</div>