<div class="page-header">
	<h1>Internships <small></small></h1>
</div>

<div class="row">
	<div class="span2"><img class="well" width="100px" width="100px" src="images/esprit_logo.gif" alt="Bull"></div>
	<div class="span10">
		<p>
			<span class="lead">Graduation Project, EspriTech</span> <br>
			<span class="muted">Tunis, Tunisia</span> <br>
			<span class="muted">February 2014- July 2014</span> <span class="label">Ended</span>
		</p>
		<p>Design and implementation of a Web Application for managing devices in a smarthome.
			<ul>
				<li>Realtime detection and classification of domotic devices.</li>
				<li>Web interface to browse and search available devices and their services based on many criteria</li>
			</ul>
         
 </p>
		<p>
			<div class="span6">
				<span class="label label-info">JBoss</span>
				<span class="label label-info">Java / JEE</span>
				<span class="label label-info">Atmosphere Framework</span>
				<span class="label label-info">Semantic Web</span>
				<span class="label label-info">XML</span>
			</div>
		</p>
	</div>


</div>
<hr>

<div class="row">
	<div class="span2"><img class="well" src="images/gct.jpg" width="100px" height="100px" alt="gct"></div>
	<div class="span10">
		<p>
			<span class="lead">Internship, Groupe Chimique Tunisien</span> <br>
			<span class="muted">Gafsa, Tunisia</span> <br>
			<span class="muted">June 2012 - Auguest 2012</span> <span class="label">Ended</span>
		</p>
		<p>Creation of a website for the company</p>
		<p>
			<div class="span6">
				<span class="label label-info">Wordpress</span>
				<span class="label label-info">Html/CSS</span>
			</div>
		</p>
	</div>


</div>