<div class="page-header">
	<h1>Languages<small></small></h1>
</div>
<div class="row">
	<div class="span10">
<dl class="dl-horizontal">
  <dt>Arabic</dt>
  <dd>
  	<span class="label label-warning">Mother Tongue</span>
  </dd>
</dl>
<dl class="dl-horizontal">
  <dt>English</dt>
  <dd>
  	<span class="label label-warning">Fluent</span>
  </dd>
</dl>
<dl class="dl-horizontal">
  <dt>French</dt>
  <dd>
  	<span class="label label-warning">Fluent</span>
  </dd>
</dl>
<dl class="dl-horizontal">
  <dt>German</dt>
  <dd>
  	<span class="label label-warning">Basic</span>
  </dd>
</dl>
	</div>
</div>