    <div class="row">
	<div class="span2"><img class="well" src="images/travel-logos.png" alt="SmartHome"></div>
  <div class="span9 offset1">
		<span class="lead"><a href="https://github.com/walidsa3d/hajj-travel-agency">Travel Agency Management Software</a></span><br />
    <ul>
      <li>Teamwork using the Scrum agile methodology (team of 4)</li>
      <li>Three-tiers architecture</li>
      <li>Web-tier in JSF, Html5</li>
      <li>Desktop client in Swing</li>
      <li>Keywords: JBoss, JEE, EJB, JPA+Hibernate, JSF+Primefaces, JUnit, Swing, JavaMail, MySQL.</li>
    </ul>
		<br />
		<a href="">My contributions</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="span2"><img class="well" src="images/smart_home_logo.jpg" alt="OpenStack Solum"></div>
	<div class="span9 offset1">
		<span class="lead"><a href="https://github.com/walidsa3d/smart-annotator">SmartHome Manager</a></span><br />
		Web Application for managing devices in a smarthome.
    <ul>
      <li>Realtime detection and classification of domotic devices.</li>
      <li> Web interface to browse and search available devices and their services based on many criteria.</li>
      <li>Keywords: JBOSS, JEE, JSF+Primefaces, XML, Atmosphere Framework, Semantic Web Technologies, Maven, UPnP</li>
    </ul>
			<br />
			<a href="">My contributions</a>
	</div>
</div>
<hr>
<!-- <div class="row">
	<div class="span2"><img class="well" src="assets/img/devstack.png" alt="Devstack Vagrant"></div>
	<div class="span9 offset1">
		<span class="lead"><a href="https://github.com/julienvey/devstack-vagrant">Devstack Vagrant</a></span><br />
		This project consists of a Vagrantfile and an accompanying Ansible playbook that sets up a virtual machine that installs DevStack, a full working OpenStack installation
		<br />
		<a href="https://github.com/julienvey/devstack-vagrant/commits/master?author=julienvey">My contributions</a>
		<br />
	</div>
</div> -->
<hr>
<div class="row">
	<div class="span2"><img class="well" src="images/quiz.jpg" alt="Quiz Generator"></div>
	<div class="span9 offset1">
		<span class="lead"><a href="">Quiz Generator</a></span><br />
		Keywords: Java SE, JDBC, Swing, JFreeChart, Apache Commons, MySQL
		<br />
		<a href="">My contributions</a>
	</div>
</div>
