<div class="page-header">
	<h1>Technical Skills <small></small></h1>
</div>

<dl class="dl-horizontal">
  <dt>Programming</dt>
  <dd>
  	<span class="label label-info">Java</span>
  	<span class="label label-info">Python</span>
	<span class="label label-info">Unix Shell</span>
	<span class="label label-info">SQL</span>
	<span class="label label-info">XML</span>
  </dd>
</dl>


<dl class="dl-horizontal">
	<dt>Web</dt>
	<dd>
		<span class="label label-info">Html/CSS</span>
		<span class="label label-info">Javascript</span>
		<span class="label label-info">PHP</span>
		<span class="label label-info">Wordpress</span>
		<span class="label label-info">AngularJS</span>
		<span class="label label-info">Twitter Bootstrap</span>
		<span class="label label-info">Semantic Web</span>
	</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Mobile<dt>
  <dd>
   	<span class="label label-info">J2ME</span>
  	 <span class="label label-info">Android SDK</span>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt>Databases</dt>
  <dd>
  	<span class="label label-info">Oracle</span>
	<span class="label label-info">MySQL</span>
	<span class="label label-info">PostgreSQL</span>
	<span class="label label-info">SQLite</span>

  </dd>
</dl>

<dl class="dl-horizontal">
  <dt>Modeling</dt>
  <dd>
  	<span class="label label-info">UML</span>
  </dd>
</dl>

<dl class="dl-horizontal">
	<dt>Tools</dt>
	<dd>
		<span class="label label-info">Eclipse</span>
		<span class="label label-info">NetBeans</span>
		<span class="label label-info">CheckStyle</span>
		<span class="label label-info">StarUML</span>
		<span class="label label-info">Git</span>
		<span class="label label-info">Maven</span>

	</dd>
</dl>